{:source-paths ["src"]

 :dependencies [
                ;[proto-repl "0.3.1"]
                [binaryage/devtools "0.9.10"]
                ]

 :nrepl        {:port 3333}

 :builds
               {:app {:target     :node-script
                      :main       demo.script/main
                      :output-to  "out/demo-script/script.js"
                      :output-dir "public/js"
                      :asset-path "/js"

                      :modules
                                  {:main
                                   {:entries [demo.script]}}
                      :devtools   {
                                   :repl-init-ns demo.script
                                   ;:before-load-async demo.script/stop
                                   ;:after-load        demo.script/start
                                   }}}}
